<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Catalogo Clientes</h1>

  <table border="1px">
    <tr>
      <th>Id Cliente</th>
      <th>Nombre del Usuario</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
    </tr>
    {% for cliente in clientes %}
    <tr>
      <td>
        {{cliente[0]}}
      </td>
      <td>
        {{cliente[1] }}
      </td>
      <td>
        {{cliente[2] }}
      </td>
      <td>
        {{cliente[3] }}
      </td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>