<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Catalogo Usuarios</h1>

  <table border="1px">
    <tr>
      <th>Id Usuario</th>
      <th>Nombre del Usuario</th>
      <th>Primer Apellido</th>
      <th>Segundo Apellido</th>
      <th>Contraseña del Usuario</th>
    </tr>
    {% for usuario in usuarios %}
    <tr>
      <td>
        {{usuario[0]}}
      </td>
      <td>
        {{usuario[1] }}
      </td>
      <td>
        {{usuario[2] }}
      </td>
      <td>
        {{usuario[3] }}
      </td>
      <td>
        {{usuario[4] }}
      </td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>